@using System.Threading.Tasks

<div class="rain-container">
    @for (int i = 0; i < 10; i++)
    {
        <div class="rain-drop" style="@(GetRainDropStyle(i))"></div>
    }
</div>

<style>
    .rain-container {
  width: 200px;
  height: 200px;
  position: relative;
  background-color: #ccc;
}

.rain-drop {
  width: 2px;
  height: 5px;
  background-color: #000;
  position: absolute;
  animation: fall 3s linear infinite;
}

@@keyframes fall {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
</style>

@code {
    private string GetRainDropStyle(int index)
    {
        Random random = new Random();
        int left = random.Next(0, 195); // Random left position within container
        int animationDelay = random.Next(0, 2000); // Random animation delay in milliseconds

        return $"left: {left}px; animation-delay: {animationDelay}ms;";
    }
}
