@using JourneyPlanner.Shared.Models
@inject HttpClient Http


<button @onclick="GetTime">Get Weather Summary</button>
<label hidden>@Latitude</label>
<label hidden>@Longitude</label>

@code {
    private string Latitude { get; set; }
    private string Longitude { get; set; }
    private List<WeatherForecast> weatherForecasts;

    private async Task GetTime()
    {
        try
        {
            if (Latitude != null && Longitude != null)
            {

                //using (var httpClient = new HttpClient())
                //{
                //    //httpClient.BaseAddress = new Uri("https://localhost:7288");
                //    string url = "/api/WeatherController/GetWeatherForecast?lat={" + Lat + "}&lng={"+ Lng +"}";
                //    var weatherForecasts = await httpClient.GetFromJsonAsync<WeatherForecast[]>(url);
                //    StateHasChanged();
                //}

                string url = "/api/WeatherController/GetWeatherForecast?lat={" + Latitude + "}&lng={" + Longitude + "}";
                var weatherForecasts = await Http.GetFromJsonAsync<WeatherForecast[]>(url);
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex.Message}");
            //CoordinatesMessage = "An error occurred while fetching location data.";
        }
    }

}
